.input-default:focus {
    background-color: #fff;
    border-color: #d49495;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #f7b5b56e!important;
}

.input-default[type=checkbox] {
    color: #d49495;
}

.input-default[type=radio] {
    color: #d49495;
}

.button-default {
    background-color: #a12727;
}

.button-default:hover {
    background-color: #a12727c7;
}

.button-buscar {
    background-color: #a1272796;
}

.button-buscar:hover {
    background-color: #a1272775;
}

.shadow {
    box-shadow: 0 .5rem 1rem #d394946e!important
}

.card {
    border: none!important;
    box-shadow: 2px 2px 8px #999!important;
}

.nav-link-active {
    border-bottom: 3px #a12727 solid;
}

.responsive-nav-link-active {
    border-left: 3px #a12727 solid;
    background-color: #a1272729;
}

table {
    box-shadow: 2px 2px 8px #999!important;
    border-radius: 5px!important;
}